{%include "head.html"%}
        <!-- Masthead-->
    <script src="https://js.stripe.com/v3/"></script>
        <header class="masthead text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <h1 style="color: #497174; font-family: Montserrat; font-size: 2.6rem;">Your Quiz is being</h1>
                <h1 style="color: #EB6440; font-family: Montserrat; font-size: 2.6rem;">Generated!</h1>

                <div class="divider-custom divider-light" style="color: #497174;">
                    
                    <img src="/static/assets/loading_animation.gif" style="width: 150px;">

                </div>
                <div class="container d-flex align-items-center flex-column email_message">
                    <p>We will email you when the quiz has finished generating. It usually takes 1 - 5 minutes depending on your query</p>
                </div>
                <a class="btn-xl btn" style="background-color: #EB6440; color: white; width: 200px;" id="checkout-btm" href="{{url_for('dashboard')}}">Return Home</a>

             </div>
        </header>
    <script src="static/js/script-no-ajax.js"></script>

{%include "footer.html"%}

